@tailwind base;
@tailwind components;
@tailwind utilities;

.blink {
  animation: customAni 2s ease 0s infinite normal none;
}

@keyframes customAni {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.rotate {
  animation: rotate_animi 30s linear infinite;
}

@keyframes rotate_animi {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
